NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_ASSETS_URL=http://localhost:9000/casaluxurydecor-media
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001/admin

NEXT_PUBLIC_FACEBOOK_URL=https://web.facebook.com/people/Kaystia/61591218699198/
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/kaystia_home/
NEXT_PUBLIC_WHATSAPP_NUMBER=